

@import url('https://fonts.googleapis.com/css2?family=Kanit&family=Montserrat:wght@300;400;800&family=Signika:wght@300&display=swap');

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
  font-family: 'Kanit', sans-serif;
  font-family: 'Montserrat', sans-serif;
  font-family: 'Signika', sans-serif;
  /* background-color: #14161a; */
  color: white;
  background-color: rgb(13,25,35);
  

}
a {
  text-decoration: none;
  color: gold;
}